<h1>Клиенты</h1>

<ul class="passports">
  <% @clients.each do |client| %>
    <div class="form-group row-fluid">
      <div class="span2"><p>Дата <b><%= client.date_in %></b></p></div>
      <div class="span1"><p>№ <%= link_to client.id, client %></p></div>
      <div class="span2"><p>Фамилия <b><%= client.vorname %></b></p></div>
      <div class="span2"><p>Имя <b><%= client.name %></b></p></div>
      <div class="span2"><p>Телефон <b><%= client.phone %></b></p></div>
      <div class="span2"><p>Потраченная сумма <b><%= client.sum %></b></p></div>
    </div>
  <% end %>
</ul>