<h1>Создание технологического паспорта</h1>

<div class="row">
  <div class="span5 offset1">
      <%= form_for(@technpassport) do |f| %>
      <%= render 'shared/error_messages2' %>

        <%= f.label :"Заказчик" %>
        <%= f.text_field :customer %>

        <%= f.label :"Имя" %>
        <%= f.text_field :name %>

        <%= f.label :"Фамилия" %>
        <%= f.text_field :vorname %>


        <%= f.label :"Отчество" %>
        <%= f.text_field :patronymic %>

        <%= f.label :"Телефон" %>
        <%= f.text_field :phone %>

        <%= f.label :"Дата_приема" %>
        <%= f.text_field :date_in %>

        <%= f.label :"Дата выдачи" %>
        <%= f.text_field :date_out %>

        <%= f.label :"Состояние изделия" %>
        <%= f.text_field :condition %>

        <%= f.label :"Износ" %>
        <%= f.text_field :wear %>

        <%= f.label :"Наши гарантии" %>
        <%= f.text_field :guarantee %>

        <%= f.label :"Повреждения" %>
        <%= f.text_field :damage %>

        <%= f.label :"Наименование операции" %>
        <%= f.label :"№1" %>
        <%= f.text_field :manipulation1 %>

        <%= f.label :"№2" %>
        <%= f.text_field :manipulation2 %>

        <%= f.label :"№3" %>
        <%= f.text_field :manipulation3 %>

        <%= f.label :"№4" %>
        <%= f.text_field :manipulation4 %>

        <%= f.label :"Цена" %>
        <%= f.text_field :price1 %>

        <%= f.label :"Цена" %>
        <%= f.text_field :price2 %>

        <%= f.label :"Цена" %>
        <%= f.text_field :price3 %>

        <%= f.label :"Цена" %>
        <%= f.text_field :price4 %>

        <%= f.label :"Общая сумма" %>
        <%= f.text_field :amount %>

        <%= f.label :"Скидка" %>
        <%= f.text_field :discount %>

        <%= f.label :"Оплачено" %>
        <%= f.text_field :payment %>

        <%= f.label :"Остаток" %>
        <%= f.text_field :debt %>


      <%= f.submit "Создать", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>