<div class="center hero-unit">
  <h1>Welcome to the BIOReinigung</h1>

  <h2>
    <p></p>
    <p></p>
    <p><%= link_to "Новый заказ", 'technpassports/new', class: "btn btn-large btn-primary" %></p>

  </h2>
  <div class="row">
    <div class="span5">
      <%= form_for @client, :url => search_clients_path do |f| %>

        <%= f.label :"Фамилия" %>
        <%= f.text_field :vorname %>

        <%= f.label :"Имя" %>
        <%= f.text_field :name %>

        <%= f.label :"Телефон" %>
        <%= f.text_field :phone %>

      <%= f.submit "Поиск клиента", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
    <div class="span5">
      <%= form_for @technpassport, :url => search_technpassports_path do |f| %>

        <%= f.label :"Номер паспорта" %>
        <%= f.text_field :id %>


      <%= f.submit "Поиск паспорта", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

